#root {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "nav"
    "main"
    "footer"
}
#root > nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 30px;
}
#root > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.ui {
  width: 100%;
}